alias vi="nvim"
alias vless="vim -u /usr/share/vim/vim74/macros/less.vim -"
alias vmore="vim -u /usr/share/vim/vim74/macros/less.vim"

alias '...'='cd ../..'
alias '....'='cd ../../..'

alias hibernate="sudo systemctl hibernate"

alias la="ls -a"
alias ll="ls -l"
