alias less="vim -u ~/.vim/less.vim -"
alias more="vim -u ~/.vim/less.vim"

alias '...'='cd ../..'
alias '....'='cd ../../..'

alias hibernate="sudo systemctl hibernate"

# Better alternatives
alias cat="bat -p"
alias ls=exa
alias grep=rg
alias cd=z
alias fd="fd -I"
alias la="ls -a"
alias ll="ls -l"

alias dd="dd status=progress"
alias rsync="rsync --progress"
alias icat="kitty +kitten icat"

alias hx="hx --log /tmp/helix.log"
alias yt-dlp='yt-dlp --no-mtime -w --cookies-from-browser firefox::none'
