alias less="vim -u /usr/share/vim/vim*/macros/less.vim -"
alias more="vim -u /usr/share/vim/vim*/macros/less.vim"

alias '...'='cd ../..'
alias '....'='cd ../../..'

alias hibernate="sudo systemctl hibernate"

# Better alternatives
alias cat="bat -p"
alias ls=exa
alias grep=rg
alias fd="fd -I"
alias la="ls -a"
alias ll="ls -l"

alias dd="dd status=progress"
alias rsync="rsync --progress"
