* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar, .calendar_pop {
  background-color: rgba(#1d2021, 0.75);
  color: #fbf1c7;
  padding: 1px;
  border-radius: 9px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

.workspace-entry button:hover {
  color: #7c6f64;
}

.workspace-entry.empty {
  color: #3e424f;
}

.membar {
  color: #e0b089;
  background-color: #38384d;
  border-radius: 10px;
}
.cpubar {
  color: #cc241d;
  background-color: #38384d;
  border-radius: 10px;
}


.iconmem {
  font-size: 15;
  margin: 6px;
}
.iconcpu {
  font-size: 15;
  margin: 6px;
}


.separ {
    color: #3e424f;
    font-weight: bold;
    font-size: 12px;
    margin: 0px 8px 0px 8px;
  }

.sys_win {
    background-color: #0f0f17;
}

.sys_mem {
  color: #e4c9af;
    background-color: #38384d;
  border-radius: 10px;
}

.sys_icon_mem, .sys_text_mem {
    color: #e4c9af;
}

.sys_icon_mem {
  margin: 5px 5px 5px 5px;
}

.sys_text_mem_sub, .sys_text_mem{
  margin: 0px 0px 0px 10px;
}

.sys_mem_box {
	border-radius: 16px;
    margin: 10px 10px 10px 10px;
  }

.sys_cpu {
  color: #e4c9af;
  background-color: #38384d;
  border-radius: 10px;
}

.sys_icon_cpu, .sys_text_cpu {
    color: #e4c9af;
}

.sys_icon_cpu {
  margin: 5px 5px 5px 5px;
}

.sys_text_cpu_sub, .sys_text_cpu{
  margin: 0px 0px 0px 10px;
}

.sys_cpu_box {
	border-radius: 16px;
    margin: 10px 10px 10px 10px;
  }


.sys_sep {
    color: #38384d;
    font-size: 18;
    margin: 0px 5px 0px 5px;
}

.clock_time_sep {
    font-size: 16;
    color: #bfc9db;
    margin: 0px 0px 0px 0px;
}
.clock_time_class, .clock_minute_class, .clock_date_class {
    color: #bfc9db;
    font-size: 15;
    font-weight: bold;
}

.clock_minute_class {
    margin: 0px 9px 0px 3px;
}

.clock_time_class {
    margin: 0px 5px 0px 0px;
}

.clock_date_class {
  margin: 0px 5px 0px 0px;
}

tooltip.background {
    background-color: #0f0f17;
    font-size: 12;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}

.mem_module {
  background-color: rgba(#1d2021, 0.75);
	border-radius: 16px;
  margin: 0px 0px 0px 5px
}
.cpu_module {
  background-color: rgba(#1d2021, 0.75);
	border-radius: 16px;
  margin: 0px 5px 0px 0px
}


.workspaces-widget {
  margin: 0px 0px 0px 10px;
}
